

@import url('https://fonts.googleapis.com/css2?family=Farsan&display=swap');
body{
    background:url(image/image9.jpg)  ;
    background-position: fixed;
    /* fixée le fond d'écran */
    background-size: cover;
}
table{
    margin: auto;
    border-radius: 10px;
    border-color:  black;
    /* couloré la bordure */
    border-width: 10px;
    /* sert à definir la taille de la bordure */
}
td{
    text-align: center;
    /* sert à avoir un texte centrée */
    border-width: 10px;
    border-color: gray;
}
th{
    border-width: 10px;
    border-color: black;
    
}


h1{
    
    
color: rebeccapurple;

font-family: 'Farsan', cursive;
/* cela modifie la police d'écriture */



   /* j'avais mal positioné les commende CSS */
}
*{
font-family: Arial, Helvetica, sans-serif;
text-align: center;


}
 :any-link{color: blueviolet;}
a{
    border-style: inset;border-radius: 100px;
    border-color: black;
    border-width: thick;
    background-color: white;
    transition: 0.5s;
 /* tout cela sert à modifiée les lien */
   

}   
img{
    border-radius: 30px;
    
}


a:hover{
    background: gold;
    /* transition */
}
video{
    border-radius: 10px;
}

ol,p{
    text-align: justify;
    background-color: rgba(21 118 142 / 65%);
   
}
ul,p{
    background-color: rgba(21 118 142 / 65%);
    margin: 99px;
}
h2{
    color: red;
}